{% extends "base.html.twig" %}
{% block body %}
    <div style="height: 300px" class=" d-flex bg-primary text-white">
        <div style= "width: 50%" class="col-6 justify-content-center align-items-center input-group mx-auto">
            <input style="height: 20%; width: 30%" class="form-control" type="search" placeholder="🔍 Nom du médecin, spécialité..." aria-label="Search">
        </div>
        <div class="col-5" >
            <img class="h-100 w-auto img-fluid"   src="{{ asset('assets/images/isolated-1188036_1280.webp') }}" alt="">
        </div>
    </div>
    <div class="Cadre text-center  mt-3 mx-5">
        <h2>Réservez votre rendez-vous médical</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate deleniti distinctio dolores error esse ex fuga harum illo nam nisi, perspiciatis placeat qui saepe tenetur! Eos mollitia nisi reiciendis!</p>
    </div>
    <div class="Cadre text-center mt-3 mx-5">
        <h2>Qui sommes nous?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate deleniti distinctio dolores error esse ex fuga harum illo nam nisi, perspiciatis placeat qui saepe tenetur! Eos mollitia nisi reiciendis!</p>
    </div>
    <div class="Cadre text-center my-3 mx-5">
        <h2>Rejoignez nous!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate deleniti distinctio dolores error esse ex fuga harum illo nam nisi, perspiciatis placeat qui saepe tenetur! Eos mollitia nisi reiciendis!</p>
    </div>


{% endblock %}