<footer class="mt-5 mb-0 py-2">
    <div class="container-fluid">
        <h3 class="text-center">UniMeds</h3>
        <div class="row mt-3">
            <div class="col-4 d-flex justify-content-center"><a href="#">Contact</a></div>
            <div class="col-4 d-flex justify-content-center">À propos</div>
            <div class="col-4 d-flex justify-content-center">Protection des données personnelles</div>
        </div>
        <p class="text-center mt-4">Copyright © 2024 UniMeds, tous droits réservés.</p>
    </div>
</footer>